@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
.chatbox {
	max-width: 1200px;
	margin: auto;
	background-color: #8f97a4;
	border: solid 5px #1f2021;
	border-radius: 30px;
	padding: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-height: calc(100% - 100px);
}
.tablet_button {
	width: 50px;
	height: 50px;
	background-color: #f6f6f7;
	border: solid 5px #585c62;
	border-radius: 50%;
	box-shadow: 0 0 20px #aab1bb;
}
.chat_wrapper {
	background-color: #555e6b;
	border: solid 4px #34373a;
	border-radius: 20px;
	padding: 10px;
	width: 94%;
}
.chatContainer {
	display: flex;
	background-color: #abc8e6;
	border-radius: 10px;
	width: 100%;
	padding: 10px 20px;
	padding-top: 30px;
}
.chatContainer > div:last-child {
	width: 80%;
}

/* Room and users component */
.roomAndUsersColumn {
	border-right: 0.5px solid whitesmoke;
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.roomTitle {
	margin-bottom: 60px;
	font-family: "MyWebFont";
	font-size: 3em;
	letter-spacing: 3px;
	color: black;
	text-align: center;
}
.usersTitle {
	font-family: "Varela Round", sans-serif;
	border-bottom: 0.5px solid whitesmoke;
	padding-bottom: 20px;
	text-align: center;
	width: 100%;
	font-size: 1.2rem;
	color: #0c0d1f;
}
.usersList {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 60px;
	color: #0c0d1f;
}
.usersList li {
	text-align: center;
	margin-bottom: 12px;
}

.roomAndUsersColumn button {
	width: calc(100% - 20px);
	margin-bottom: 20px;
}

/* Messages */
.messagesColumn {
	height: 85vh;
	overflow: auto;
	padding: 10px 15px;
}
.message {
	background: whitesmoke;
	box-shadow: 5px 5px #5b636dc8;
	border-radius: 7px;
	margin-bottom: 24px;
	width: 100%;
	padding: 16px;
	word-wrap: break-word;
}
.message div span:first-child {
	font-family: "Varela Round", sans-serif;
	font-stretch: condensed;
	color: black;
	font-size: 1.25em;
	font-weight: 600;
}
.message p {
	margin-bottom: 0;
}
.msgMeta {
	color: black;
	font-size: 1em;
}
.msgText {
	color: black;
}

/* Message input and button */
.sendMessageContainer {
	padding: 16px 20px 20px 16px;
	width: 100%;
}
.sendMessageContainer button {
	width: 177px;
}
.status {
	padding: 10px 5px;
	font-size: 0.75rem;
	color: #1f2021;
}
.messageInput {
	padding: 14px;
	margin-right: 16px;
	width: calc(100% - 204px);
	border-radius: 6px;
	border: 0.5px solid #8f97a4;
	font-size: 0.9rem;
}
